<div class="wa-chat" *ngIf="conversation">

  <div class="wa-chat__header">
    <div class="wa-avatar wa-avatar--header" [style.background]="headerAvatarColor">
      {{ headerInitials }}
    </div>
    <div class="wa-chat__header-info">
      <span class="wa-chat__header-name">{{ headerName }}</span>
      <span class="wa-chat__header-phone">{{ conversation.waId }}</span>
    </div>
  </div>

  <div class="wa-chat__body" #scrollContainer>
    <div class="wa-chat__loading" *ngIf="loading">Chargement des messages...</div>

    <ng-container *ngFor="let group of groupedMessages">
      <div class="wa-date-separator">
        <span>{{ group.label }}</span>
      </div>
      <app-message-bubble
        *ngFor="let message of group.messages; trackBy: trackByMessageId"
        [message]="message">
      </app-message-bubble>
    </ng-container>

    <div class="wa-chat__empty" *ngIf="!loading && messages.length === 0">
      Aucun message pour le moment. Démarrez la conversation !
    </div>
  </div>

  <div class="wa-chat__error" *ngIf="errorMessage">{{ errorMessage }}</div>

  <app-message-input
    [disabled]="sending"
    (send)="onSend($event)">
  </app-message-input>
</div>