.sms-full {
  position: fixed;
  top: 70px;          // height of your top navbar
  left: 250px;        // width of sidebar
  right: 0;
  bottom: 0;
  background: #0f172a; // match Kannel dark theme
}

.sms-full iframe {
  width: 100%;
  height: 100%;
  border: none;
}
:host {
  display: block;
  height: 100%;
}

/* remove white container effect */
::ng-deep .page-content {
  padding: 0 !important;
  background: transparent !important;
}