<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SMSTaxi</title>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"rel="stylesheet"/>
</head>

<body>
<section class="h-100 gradient-form" style="background-color: #eeeeee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-9 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="assets/logoY2.png"
                    alt="logo-smstaxi">
                  <h4 class="page-title mt-3">Accédez à votre tableau de bord.</h4>

                </div>

                <form>
                  <pre>Veuillez vous connecter à votre compte !</pre>
                  <div data-mdb-input-init  class="form-outline mb-4">
  					        <input type="text" id="form2Example11" class="form-control" placeholder="Entrez votre adresse e-mail"/>
  					        <label class="form-label" for="form2Example11">Adresse e-mail </label>
				          </div>


                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" placeholder="Entrez votre mot de passe"/>
                    <label class="form-label" for="form2Example22">Mot de passe</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Se connecter
                    </button>
                    <a class="text-muted" href="/forgotPass">Mot de passe oublié ?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Vous n'avez pas de compte ?</p>
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger" (click)="goToSignup()">Créer un compte</button>
                  

                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Une plateforme puissante, pensée pour la performance</h4>
                <p class="small mb-0">Derrière SMS Taxi se cache une architecture backend robuste, conçue pour gérer des milliers de requêtes en temps réel. Grâce à des API sécurisées, une scalabilité cloud-native et une gestion optimisée des données, notre système assure une disponibilité maximale et des performances fiables, même aux heures de pointe.
				</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
  ></script>
  
 </body>
</html>