.app-layout {
  min-height: 100vh;
}

/* BELOW TOPBAR */
.app-body {
  display: flex;
  margin-top: 64px; /* 🔥 same as topbar */
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 1.5rem;
  transition: margin-left 0.35s ease;
}

/* COLLAPSED SIDEBAR */
body.sidebar-collapsed {
  .main-content {
    margin-left: 70px;
  }
}

/* MOBILE */
@media (max-width: 992px) {
  .main-content {
    margin-left: 0;
  }
}
