
<header id="page-topbar">
  <div class="navbar-header">

    <div class="d-flex align-items-center">
      <button
        class="btn header-item d-xl-none"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <div class="d-flex align-items-center gap-1">
      <a
        href="https://webmail.smstaxi.tn"
        target="_blank"
        class="btn header-item"
        title="Webmail">
        <i class="bx bx-envelope"></i>
      </a>

      <button class="btn header-item" (click)="fullscreen()">
        <i class="bx bx-fullscreen"></i>
      </button>  
      
<div class="dropdown">
  <button
    class="btn header-item d-flex align-items-center justify-content-center"
    type="button"
    id="langDropdown"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img
      [src]="currentLangFlag"
      alt="Language"
      width="22"
      height="16"
    />
  </button>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdown">
    <li>
      <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="switchLanguage('ar')">
        <img src="assets/flags/ar.png" width="20" /> العربية
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="switchLanguage('fr')">
        <img src="assets/flags/fr.png" width="20" /> Français
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="switchLanguage('en')">
        <img src="assets/flags/eng.png" width="20" /> English
      </a>
    </li>
  </ul>
</div>

</div>

  </div>
</header>
